.portfolio-description .github .markdown-body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.portfolio-description .github .container-lg,
.portfolio-description .github .container-xl {
    margin-right: 0;
    margin-left: 0;
    padding:0;
}
.portfolio-description .github .container-lg {
    max-width: 1012px;
}
.portfolio-description .github .markdown-body>:first-child {
    margin-top: 0!important;
} 
.portfolio-description .github .markdown-body h1,
.portfolio-description .github .markdown-body h2 {
    padding-bottom: .3em;
    border-bottom: 1px solid #eaecef;
}
.portfolio-description .github .markdown-body blockquote,
.portfolio-description .github .markdown-body details,
.portfolio-description .github .markdown-body dl,
.portfolio-description .github .markdown-body ol,
.portfolio-description .github .markdown-body p,
.portfolio-description .github .markdown-body pre,
.portfolio-description .github .markdown-body table,
.portfolio-description .github .markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px;
}
.portfolio-description .github .markdown-body h6 {
    font-size: .85em;
    color: #6a737d;
}
.portfolio-description .github .markdown-body h1,
.portfolio-description .github .markdown-body h2,
.portfolio-description .github .markdown-body h3,
.portfolio-description .github .markdown-body h4,
.portfolio-description .github .markdown-body h5,
.portfolio-description .github .markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.portfolio-description .github .markdown-body .highlight {
    margin-bottom: 16px;
}
.portfolio-description .github .markdown-body .highlight pre,
.portfolio-description .github .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
}
.portfolio-description .github .markdown-body blockquote,
.portfolio-description .github .markdown-body details,
.portfolio-description .github .markdown-body dl,
.portfolio-description .github .markdown-body ol,
.portfolio-description .github .markdown-body p,
.portfolio-description .github .markdown-body pre,
.portfolio-description .github .markdown-body table,
.portfolio-description .github .markdown-body ul {
    margin-top: 0;
    margin-bottom: 16px;
}
.portfolio-description .github pre{
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
.portfolio-description .github .markdown-body h3 {
    font-size: 1.25em;
}
.portfolio-description .github .markdown-body ol,
.portfolio-description .github .markdown-body ul {
    padding-left: 2em;
}

.portfolio-description .github .pl-smw,
.portfolio-description .github .pl-v {
    color: #e36209;
}
.portfolio-description .github .pl-e,
.portfolio-description .github .pl-en {
    color: #6f42c1;
}
.portfolio-description .github .pl-pds,
.portfolio-description .github .pl-s,
.portfolio-description .github .pl-s .pl-pse .pl-s1,
.portfolio-description .github .pl-sr,
.portfolio-description .github .pl-sr .pl-cce,
.portfolio-description .github .pl-sr .pl-sra,
.portfolio-description .github .pl-sr .pl-sre {
    color: #032f62;
}
.portfolio-description .github .markdown-body .highlight pre,
.portfolio-description .github .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 6px;
}
.portfolio-description .github .pl-k {
    color: #d73a49;
}
.portfolio-description .github .pl-c {
    color: #6a737d;
}

.portfolio-description .github .pl-c1,
.portfolio-description .github .pl-s .pl-v {
    color: #005cc5;
}

.portfolio-description .github .markdown-body .anchor{
    display:none;
}

.portfolio-description .github .markdown-body h4 {
    font-size: 1em;
}

.portfolio-description .github .markdown-body pre code,
.portfolio-description .github .markdown-body pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: initial;
    border: 0;
}


.portfolio-description .github .markdown-body pre>code {
    padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.portfolio-description .github .pl-ent {
    color: #22863a;
}

.portfolio-description .github .pl-pds,
.portfolio-description .github .pl-s,
.portfolio-description .github .pl-s .pl-pse .pl-s1,
.portfolio-description .github .pl-sr,
.portfolio-description .github .pl-sr .pl-cce,
.portfolio-description .github .pl-sr .pl-sra,
.portfolio-description .github .pl-sr .pl-sre {
    color: #032f62;
}